@import './variables';

nav {
  height: $NavHeight;
  background: lightblue;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;   
  flex-wrap: nowrap;
  list-style-type: none;
}

.menu li {
  padding: .5em 2em;
  display: block; 
  width: auto;
}