@import './variables';

nav {
  padding-left: 2em;
  padding-right: 2em;
  height: $NavHeight;
  background: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-around;   
  flex-wrap: nowrap;
  list-style-type: none;
}

.menu li {
  padding: 0 2em;
}
